---
import producto1 from "@/assets/img/producto/producto_1.webp";
import producto2 from "@/assets/img/producto/producto_2.webp";
import producto3 from "@/assets/img/producto/producto_3.webp";
import producto4 from "@/assets/img/producto/producto_4.webp";
import producto5 from "@/assets/img/producto/producto_5.webp";
import video from "@/assets/img/producto/video.mp4";
---

<section class="py-16 space-y-6">
  <div
    class="columns-1 sm:columns-2 lg:columns-3 *:rounded-2xl space-x-4 space-y-4"
  >
    <img
      src={producto1.src}
      alt="Capsulas de que contienen la semilla"
      class="aspect-square object-cover"
      loading="lazy"
    />
    <img src={producto2.src} alt="Papel periodico recortado" loading="lazy" />
    <img
      src={producto3.src}
      alt="Papel con engrudo listo para enrollar el lapiz"
      loading="lazy"
    />
    <img src={producto4.src} alt="Lapices enrollados" loading="lazy" />
    <img
      src={producto5.src}
      alt="Lapices enrollados con la capusla integrada"
      class="aspect-square object-cover"
      loading="lazy"
    />
    <video controls muted>
      <source src={video} type="video/mp4" />
      Your browser does not support video tag
    </video>
  </div>
</section>
